name: Waka Readme

on:
  schedule:
    - cron: "0 0 1 * *"
  push:
    branches:
      - main

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
            BLOCKS: -#
            TIME_RANGE: all_time
            WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
